<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ app_name }}</title>
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_link_tags('home') }}
</head>
<body>
<div class="flex h-screen">
    {% for message in app.flashes('message_error') %}
        <div role="alert" class="fixed w-1/2 m-auto inset-x-0 pt-4">
            <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
                Error
            </div>
            <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
                <p>{{ message }}</p>
            </div>
        </div>
    {% endfor %}

    <div class="flex justify-center h-screen">
        <div class="flex-col place-self-center space-y-7 text-center text-white">
            <div>
                <img class="w-full h-64" alt="logo bot ban hammer list" src="{{ asset('build/bot-logo.png') }}">
            </div>
            <div>
                <p>Hammerbot<br/>Le bot qui bannira pour vous</p>
            </div>
            <div>
                <a href="{{ path('app_twitch_login') }}" role="button">
                    <button class="button-connexion">{% trans %}app.home.login{% endtrans %}</button>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>