<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ app_name }}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block alert %}{% endblock %}
<div class="flex h-screen">
{% block body %}
    {% block navbar %}
        {% include 'dashboard/navbar/_navbar.html.twig' %}
    {% endblock %}
    <div class="w-full bg-blue-gray-100">
        {# Barre info #}
        <div class="bg-white shadow-sm grid grid-cols-2">
            <div class="flex place-items-center place-content-start p-2">
                <p class="text-gray-400">Mis à jour le : 15/05/2022</p>
            </div>
            <div class="flex place-items-center place-content-end">
                <p class="text-gray-500 mr-2">{{ app.user.username }}</p>
                <img class="h-7 rounded-full mr-5" src="{{ imageProfile }}" alt="" />
            </div>
        </div>
    {% block content %}{% endblock %}
    </div>
{% endblock %}
</div>
</body>
</html>