{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('vue') }}
{% endblock %}

{% block body %}
    <div class="content-page" id="app">
        <div class="content tab-pane fade show active">
            <section>
                <h1 class="bg-teal-50">Bienvenue : {{ app.user.userIdentifier }}</h1>
                <h2>Liste des utilisateurs bannis :</h2>
                <test-example></test-example>
                <table>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Id :</th>
                        <th>Login :</th>
                        <th>Pseudo :</th>
                        <th>Fin du ban le :</th>
                        <th>Raison :</th>
                        <th>Banni par :</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for userblock in usersBlocks | sort((a, b) => a.user_login <=> b.user_login) %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ userblock.user_id }}</td>
                            <td>{{ userblock.user_login }}</td>
                            <td>{{ userblock.user_name }}</td>
                            <td>{{ userblock.expires_at }}</td>
                            <td>{{ userblock.reason }}</td>
                            <td>{{ userblock.moderator_name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <button id="button-bot-connect" data-username="{{ app.user.userIdentifier }}" data-token="{{ app.user.accessToken }}">Connexion au chat</button>
            </section>
        </div>
    </div>
{% endblock %}